body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
.nav {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.13);
}

.logo {
    float: left;
    font-size: 35px;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-left: 13px;
    font-family: 'Fredoka One', cursive;
    color: #01b3e3;
}

.btns {
    position: absolute;
    left: 36.9%;
    height: 40px;
    top: 10px;
    width: 400px; 
}

.toggleBtns {
    float: left;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 14px;
    padding-left: 14px;
    color: #019ECB;
    border: 1px solid #019ECB;
    border-right: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.hover {
    background-color: #019ECB;
    border-color: #019ECB;
    color: #fff;
}

.active {
    background-color: #01b3e3;
    border-color: #01b3e3;
    color: #fff;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 20px;
    top: 20px;
    right: 50px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: #01b3e3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #01b3e3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.manualRun {
    position: absolute;
    top: 15px;
    right: 120px;
    width: 64px;
    height: 28px;
    border: 2px solid #01b3e3;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
    color: #01b3e3;
    transition: all .2s ease;
    display: block;
}

.autoRun {
    position: absolute;
    top: 15px;
    right: 120px;
    width: 64px;
    height: 28px;
    background-color: #fff;
    color: #01b3e3;
    display: none;
}

.autorun {
    position: absolute;
    text-align: center;
    top: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
}

.manualRun.hoverRun {
    background-color: #01b3e3;
    color: #fff;
}

.run {
    position: absolute;
    text-align: center;
    top: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 3px;
}

.run:before {
    content: '\f215';
    font-family: 'Ionicons';
    position: absolute;
    font-size: 19px;
    left: 8px;
    top: 2.5px;
    float: left;
}

#html {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#output {
    border-right: 1px solid #019ECB;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bodyContainer {
    background-color: #f3f5f6;
    width: 100%;
}

.panel {
    float: left;
}

.hidden {
    display: none;
}

textarea {
    position: relative;
    width: calc(100% - 35px);
    resize: none;
    background-color: #f3f5f6;
    border: none;
    border-right: 1px solid #019ECB;
    font-size: 13px;
    line-height: 18px;
    height: 100%;
    font-family: system, "Helvetica Neue", Helvetica, Arial;
    letter-spacing: .8px;
    padding-top: 10px;
    outline: none;
}
textarea:focus {
    background-color: #fff;
}

iframe {
    border: none;
    background-color: transparent;
}

.lineCountHtml, .lineCountCss, .lineCountJs {
    float: left;
    position: relative;
    text-align: center;
    line-height: 18px;
    font-size: 15px;
    padding-top: 11px;
    padding-bottom: 4px;
    width: 30px;
    height: 100%;
    background-color: #F0F3F4;
    color: #A7B5BD;
}